<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wansun.visit.android">
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 手机震动权限 -->

    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />


    <application
        android:name=".global.waifangApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ws"
        android:label="@string/app_name"
        android:largeHeap="true"

        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ws"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="48ae76de3f"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="H8hwKCV0LzHK6wXuOp28D05q4oozGAfG"/>
        <meta-data
            android:name="BUGLY_APPID"
            android:value="18ca237fe3" />
        <activity
            android:name=".ui.activity.WelocmeActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActiovity"/>
        <activity android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name="bikenavi_demo.BNaviGuideActivity"/>
        <activity android:name="bikenavi_demo.WNaviGuideActivity"/>
        <activity android:name="baidu.navi.sdkdemo.newif.DemoGuideActivity"/>
        <activity android:name=".ui.activity.OutBoundActivity"/>
        <activity android:name=".ui.activity.VisitOrderActivity"/>
        <activity android:name=".ui.activity.CasePhoneActivity"/>
        <activity android:name=".ui.activity.UrgeRecordActivity"/>
        <activity android:name=".ui.activity.CaseVisitRecordAcitvity" />
        <activity android:name=".ui.activity.CaseCardMessageActivity"/>
        <activity android:name=".ui.activity.VistRecordActivity"/>
        <activity android:name=".ui.activity.VisitOrderAddressActivity"/>
        <activity android:name=".ui.activity.VersionsActivity"/>
        <activity android:name=".ui.activity.OperationActivity"/>
        <activity android:name="soundrecorderutils.RecordActivity"
        android:launchMode="singleTask" />
        <activity android:name=".ui.activity.PictureSelectActivity"/>
        <activity android:name=".ui.activity.VideoRecorderActivity"/>
        <activity android:name=".ui.activity.FileUploadActivity"/>
        <activity android:name=".ui.activity.TakePhotosActivity"/>
        <activity android:name=".ui.activity.FileQueryActivity"/>
        <activity android:name=".ui.activity.playPictureAndVideoActivity"/>
        <activity android:name=".ui.activity.myVideoInputActivity"/>
        <activity
            android:name="com.lidong.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.lidong.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme"/>

        <activity
            android:name=".ui.activity.RegisterAndRecognizeActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.FollowMessageActivity"/>
        <activity android:name=".ui.activity.ReturnMessageActivity"/>
        <activity android:name=".ui.activity.CaseAddressActivity"/>
        <activity android:name=".ui.activity.OperaterRecordActivity"/>
        <activity android:name=".ui.activity.VisitDetailRecordActivity"/>
        <activity android:name=".ui.activity.CountsActivity"/>
        <activity android:name=".ui.activity.VisitAnnexActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".service.batchuploadFileService"
            android:enabled="true"
            android:exported="false"/>
        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote"/>
      <service android:name="soundrecorderutils.RecordingService"/>
        <provider
            android:name=".provider.myProvider"
            android:authorities="wansun.visit.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            xmlns:tools="http://schemas.android.com/tools"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".boardCastReceiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            >
        </receiver>
        <service android:name=".service.autoUpdataService"/>
        <service android:name="soundrecorderutils.LiveService"/>
        <service android:name="com.zlw.main.recorderlib.recorder.RecordService" android:exported="false" android:enabled="true"/>
    </application>

</manifest>
